.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f5f5f5; */
  }
  
  .aboutContent {
    
    max-width: 600px;
    padding: 20px;
    text-align: left;
    
  }
  
  .aboutHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .aboutDescription {
    line-height: 1.5;
    color: #000000;
    margin-top: 40px;
   
  }
  
  .aboutImage {
    height: 18vh;
    border-radius: 50% ;
  }


  @media only screen and (min-width: 375px) {
    .aboutContainer {
      flex-direction: column;
      margin-top: -60px;
      
    }
    .aboutDescription {
      overflow: scroll;
      height: 280px;
      
    }
    }
  
  @media (max-width: 768px) {
    .aboutContainer {
      flex-direction: column;
    }
  
    .aboutImage {
      height: 30vh;
      margin-top: 40px;
      margin-left: 0;
    }
  }

